@font-face {
    font-family: 'JosefinSlab-Bold';
    src: url('../fonts/JosefinSlab-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'JosefinSlab-BoldItalic';
    src: url('../fonts/JosefinSlab-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'JosefinSlab-Light';
    src: url('../fonts/JosefinSlab-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'JosefinSlab-Regular';
    src: url('../fonts/JosefinSlab-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'JosefinSlab-Thin';
    src: url('../fonts/JosefinSlab-Thin.ttf') format('truetype');
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    height:100%;
}

body {
    background: #efc56e;
    color: #be9448;
    font-size: 1em;
    font-family: 'JosefinSlab-Light', Arial, sans-serif;   
    height:100%;
    overflow:hidden;
}

a {
    color: #f0f0f0;
    text-decoration: none;
    outline: none;
}
    /*background: #ef6e7e; 
    color: #be4856;*/

    /*.demo-2 { background: #72d0f4; }
.demo-2 a { color: #1c9ccd; }*/

    a:hover, a:focus {
        color: #fff;
    }

section {
    padding: 1em;
    text-align: center;
}

/* Related demos */
.related {
    padding: 4em 0 3em;
}

    .related p {
        font-size: 1.25em;
        font-weight: 700;
    }

    .related > a {
        border: 2px solid #000;
        border-color: initial;
        display: inline-block;
        text-align: center;
        margin: 20px 10px;
        padding: 25px;
    }

    .related a img {
        max-width: 100%;
        opacity: 0.8;
    }

    .related a:hover img,
    .related a:active img {
        opacity: 1;
    }

    .related a h3 {
        margin: 0;
        padding: 0.5em 0 0.3em;
        max-width: 300px;
        text-align: left;
    }

.corner-menu {
    position: absolute;
    left: 10px;
    top: 10px;
    display: block;
    width: 60px;
    height: 60px;
    background-color: #be9448;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -moz-transition: all cubic-bezier(0.7,0,0.3,1) 0.5s 1s, background-color cubic-bezier(0.7,0,0.3,1) 0.3s;
    -o-transition: all cubic-bezier(0.7,0,0.3,1) 0.5s 1s, background-color cubic-bezier(0.7,0,0.3,1) 0.3s;
    -webkit-transition: all cubic-bezier(0.7,0,0.3,1) 0.5s 1s, background-color cubic-bezier(0.7,0,0.3,1) 0.3s;
    transition: all cubic-bezier(0.7,0,0.3,1) 0.5s 1s, background-color cubic-bezier(0.7,0,0.3,1) 0.3s;
}

    .corner-menu span {
        cursor: pointer;
    }

    .corner-menu:hover {
        background-color: #f0f0f0;
    }

    .corner-menu span:before {
        cursor: pointer;
        color: #efc56e;
        -moz-transition: all ease-in 0.3s 0.3s;
        -o-transition: all ease-in 0.3s 0.3s;
        -webkit-transition: all ease-in 0.3s 0.3s;
        transition: all ease-in 0.3s 0.3s;
    }

    .corner-menu:hover span:before {
        color: #ef6e7e;
    }

    .corner-menu:hover span:first-of-type:before, .corner-menu:hover span:last-of-type:before {
        color: #444;
    }

/* General button style (reset) */
.btn {
    border: none;
    font-family: 'JosefinSlab-Light';
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

    .btn:after {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    /* Pseudo elements for icons */
    .btn:before {
        position: absolute;
        font-family: 'abs';
        font-size: 32px;
        font-weight: normal;
        line-height: 1;
        color: inherit;
        -webkit-font-smoothing: antialiased;
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    }

/* Button 3 */
.btn-3 {
    background: rgba(0, 0, 0, 0.20);/*#fcad26;*/
    color: #fff;    
    padding: 80px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 3px rgba(0, 0, 0, 0.40);/*#da9622;*/
}

    .btn-3:hover {
        background: rgba(0, 0, 0, 0.30);
    }

    .btn-3:active {
        background: rgba(0, 0, 0, 0.40);/*#f58500;*/        
        box-shadow: 0 3px rgba(0, 0, 0, 0.50);/*#dc7801;*/
        top: 2px;
    }

    .btn-3:before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;        
        height: 60px;
        line-height: 60px;
        background: #fff;
        color: #444;/*#f29e0d;*/
        border-radius: 10px 10px 0 0;
        -moz-transition: color ease-out 0.6s;
        -o-transition: color ease-out 0.6s;
        -webkit-transition: color ease-out 0.6s;
        transition: color ease-out 0.6s;
    }

    .btn-3:active:before {
        color: rgba(0, 0, 0, 0.10);/*#f58500;*/
    }

.loaded .icon-wand {
    -moz-animation: buttonPop 1s cubic-bezier(0.7,0,0.3,1) 1s forwards,buttonPop1 0.5s cubic-bezier(0.7,0,0.3,1) 2s forwards;
    -o-animation: buttonPop 1s cubic-bezier(0.7,0,0.3,1) 1s forwards,buttonPop1 0.5s cubic-bezier(0.7,0,0.3,1) 2s forwards;
    -webkit-animation: buttonPop 1s cubic-bezier(0.7,0,0.3,1) 1s forwards,buttonPop1 0.5s cubic-bezier(0.7,0,0.3,1) 2s forwards;
    animation: buttonPop 1s cubic-bezier(0.7,0,0.3,1) 1s forwards,buttonPop1 0.5s cubic-bezier(0.7,0,0.3,1) 2s forwards;
    padding: 20px;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
}

    .loaded .icon-wand:before {
        -moz-animation: buttonPop2 1s cubic-bezier(0.7,0,0.3,1) 2.5s forwards, buttonPop3 0.5s cubic-bezier(0.7,0,0.3,1) 3.5s forwards;
        -o-animation: buttonPop2 1s cubic-bezier(0.7,0,0.3,1) 2.5s forwards, buttonPop3 0.5s cubic-bezier(0.7,0,0.3,1) 3.5s forwards;
        -webkit-animation: buttonPop2 1s cubic-bezier(0.7,0,0.3,1) 2.5s forwards, buttonPop3 0.5s cubic-bezier(0.7,0,0.3,1) 3.5s forwards;
        animation: buttonPop2 1s cubic-bezier(0.7,0,0.3,1) 2.5s forwards, buttonPop3 0.5s cubic-bezier(0.7,0,0.3,1) 3.5s forwards;
        color: transparent;
        top: -30px;
    }

.icon-spinner {
    padding: 20px;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
}

.icon-spinner-before:before {
    -moz-animation: buttonPop2 1s cubic-bezier(0.7,0,0.3,1) 1.5s forwards, buttonPop3 0.5s cubic-bezier(0.7,0,0.3,1) 2.5s forwards;
    -o-animation: buttonPop2 1s cubic-bezier(0.7,0,0.3,1) 1.5s forwards, buttonPop3 0.5s cubic-bezier(0.7,0,0.3,1) 2.5s forwards;
    -webkit-animation: buttonPop2 1s cubic-bezier(0.7,0,0.3,1) 1.5s forwards, buttonPop3 0.5s cubic-bezier(0.7,0,0.3,1) 2.5s forwards;
    animation: buttonPop2 1s cubic-bezier(0.7,0,0.3,1) 1.5s forwards, buttonPop3 0.5s cubic-bezier(0.7,0,0.3,1) 2.5s forwards;
}

.hide-logo .icon-spinner:before {
    color: transparent;
    top: -30px;
}

@-moz-keyframes buttonPop {
    to {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes buttonPop {
    to {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes buttonPop {
    to {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes buttonPop1 {
    to {
        padding: 80px 20px 20px 20px;
    }
}

@-webkit-keyframes buttonPop1 {
    to {
        padding: 80px 20px 20px 20px;
    }
}

@keyframes buttonPop1 {
    to {
        padding: 80px 20px 20px 20px;
    }
}

@-webkit-keyframes buttonPop2 {
    25% {
        -moz-transform: scale(1,0.0001);
        -ms-transform: scale(1,0.0001);
        -o-transform: scale(1,0.0001);
        -webkit-transform: scale(1,0.0001);
        transform: scale(1,0.0001);
        top: -30px;
    }

    100% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        top: 0;
    }
}

@-moz-keyframes buttonPop2 {
    25% {
        -moz-transform: scale(1,0.0001);
        -ms-transform: scale(1,0.0001);
        -o-transform: scale(1,0.0001);
        -webkit-transform: scale(1,0.0001);
        transform: scale(1,0.0001);
        top: -30px;
    }

    100% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        top: 0;
    }
}

@keyframes buttonPop2 {
    25% {
        -moz-transform: scale(1,0.0001);
        -ms-transform: scale(1,0.0001);
        -o-transform: scale(1,0.0001);
        -webkit-transform: scale(1,0.0001);
        transform: scale(1,0.0001);
        top: -30px;
    }

    100% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        top: 0;
    }
}

@-webkit-keyframes buttonPop3 {
    to {
        color: #444;
    }
}

@-moz-keyframes buttonPop3 {
    to {
        color: #444;
    }
}

@keyframes buttonPop3 {
    to {
        color: #444;
    }
}

.hide-logo .ip-logo {
    margin-left: 0;
    margin-top: 50px;
    height: 60px;
    width: 60px;
    opacity: 0;
}

.hide-logo .corner-menu {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.hide-logo .ip-main {
    padding: 0;
}

.hide-logo .icon-wand {
    -moz-animation: puffOut 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
    -o-animation: puffOut 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
    -webkit-animation: puffOut 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
    animation: puffOut 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-moz-keyframes puffOut {
    from {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to {
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-webkit-keyframes puffOut {
    from {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to {
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes puffOut {
    from {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to {
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

.stage {
    position: relative;
    display: block;
    opacity: 0;
    background-color: rgba(0,0,0,0.5);
    border-radius: 8px;
    width: 100%;
    margin-top: -100px;    
    text-align: center;
    height: 0;
    max-height: 500px;
    overflow:hidden;
}

    [class^="texts"], [class*="texts"] {
        font-size: 5em;
        font-family: 'JosefinSlab-Thin';
        visibility: hidden;
    }

.hide-logo .stage {
    -moz-animation: expandStage 0.9s cubic-bezier(0.7,0,0.3,1) 2.4s forwards;
    -o-animation: expandStage 0.9s cubic-bezier(0.7,0,0.3,1) 2.4s forwards;
    -webkit-animation: expandStage 0.9s cubic-bezier(0.7,0,0.3,1) 2.4s forwards;
    animation: expandStage 0.9s cubic-bezier(0.7,0,0.3,1) 2.4s forwards;
}

@-webkit-keyframes expandStage {
    to {        
        height: calc(100% - 250px);
        opacity: 1;
    }
}

@-moz-keyframes expandStage {
    to {
        height: calc(100% - 250px);
        opacity: 1;
    }
}

@keyframes expandStage {
    to {
        height: calc(100% - 250px);
        opacity: 1;
    }
}
